/* body {
    margin: 0;
    padding: 0;
} */

h1 {
    color: blue;
}


.container-fluid {
    background-color: #5ea9f8; /* Dark blue; adjust the color as needed */
    margin: auto;
}

.navbar-brand {
    color: #ffffff; /* White text */
}

.d-inline-block {
    margin-right: 10px; /* Adds space to the right of the logo */
}

.navbar {
    padding-top: 0px;
}
